<h1>Editing Scaffoling2</h1>
</br>
<%= render 'form', scaffoling2: @scaffoling2 %>
</br>
<%= link_to 'Show', @scaffoling2,class:"btn btn-dark" %> |
<%= link_to 'Back', scaffoling2s_path,class:"btn btn-dark" %>
